
{#
/**
 * @file
 * Default theme implementation to display calendar mouth day.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - number: The number of the day.
 * - content: The content of this day.
 * - current: TRUE if this is the current day.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'calendar-mouth-day',
  current ? 'calendar-mouth-day--current',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="calendar-mouth-day__number">{{ number }}</div>
  {% if content %}
    <div class="calendar-mouth-day__content">{{ content }}</div>
  {% endif %}
</div>
