{#
/**
 * @file
 * Default theme implementation to display calendar month.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - #year: The year of the calendar month displayed.
 * - #month: The calendar month displayed.
 * - #content: The array of data in which the key is the date (Y-m-d) of the day
 *   the value can be a string or render array.
 * - #month_name: The full month name.
 * - #header: The list of weekday names.
 * - #days: The list of days of the month.
 *
 * @see template_preprocess_calendar_month()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('calendar_render_element/calendar-month') }}
<div{{ attributes.addClass('calendar-month') }}>
  <h2 class="calendar-month__month-name">{{ month_name }}</h2>
  <div class="calendar-month__header">
    {% for day_name in header %}
      <div class="calendar-month__header-day-name">{{ day_name }}</div>
    {% endfor %}
  </div>
  <div class="calendar-month__days">
    {{ days }}
  </div>
</div>
